html,
body {
  height: 100%;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  margin: 20px 15px 20px 15px;
}

figure {
  width: 80%;
}

img {
  width: 450px;
  height: 300px;
}

h1 {
  background-color: #ff6a6a;
  color: #ffffff;
  font-size: 50px;
  font-weight: 700;
  text-align: center;
  padding: 2px;
}

h2 {
  background-color: #fff4f4;
  color: #ff6a6a;
  font-size: 35px;
  font-weight: bold;
  text-align: center;
  padding: 2px;
}

.container-questions {
  position: relative;
  left: -20px;
}

.questions {
  list-style: none;
}

.questions::before {
  content: '\003E';
  position: absolute;
  left: 25px;
}

.questions-content::before {
  content: '\0076';
  position: absolute;
  left: 25px;
}

.addresses {
  display: flex;
  position: relative;
  left: -20px;
  justify-content: center;
  list-style: none;
}

.addresses li {
  padding: 0 4px 0 4px;
  cursor: pointer;
}

.addresses li :link {
  color: #ff6a6a;
  font-weight: 700;
  text-decoration: none;
}

.addresses li :active {
  color: #ff6a6a;
  font-weight: 700;
  text-decoration: none;
}

.addresses li :visited {
  color: #ff6a6a;
  font-weight: 700;
  text-decoration: none;
}

.addresses li :hover {
  color: #ba4d4d;
}

.addresses :nth-child(2) {
  border-right: 2px solid #000000;
  border-left: 2px solid #000000;
}

footer {
  font-size: 12px;
}
